<div class="row panel-chart">
    <div class="col-md-6">
        <span>Participación provincial en empleo sectorial</span>
        <i class="fa fa-arrows-alt fa-2x btn-full-screen" aria-hidden="true" 
            ng-click="goTo('page/empleoSectGrande')"></i>                       
        <div data-echarts data-options="line2.options" style="height: 360px;"></div>
    </div>
	<div class="col-md-6">
        <span>Matriz de clasificación de sectores según empleo</span>
        <i class="fa fa-arrows-alt btn-full-screen" aria-hidden="true" 
        ng-click="goTo('page/scatterEmpSectGrande')"></i>
        <p id="ejeX">Coef. de especialización (empleo)</p>
        <p id="ejeX2">(diferencia de log. nat.)</p>
        <p id="ejeY" style="left: -12.3% !important;">Var.% Empleo 2007 - 2014</p>
        <p id="ejeY2">(diferencia de log. nat.)</p>
        <div data-echarts data-options="line1.options" style="height: 360px;"></div>					
	</div>
</div>
<div class="row">
    <div class="col-md-6" style="text-align: center;color:#BBBBBB">Fuente: Elaboración propia en base a datos de OEDE</div>
    <div class="col-md-6" style="text-align: center;color:#BBBBBB">Fuente: Elaboración propia en base a datos de OEDE</div>
</div>