<div class="row panel-chart">
    <div class="col-md-6">
        <span>Participación sectorial en empleo provincial (2014)</span>
        <i class="fa fa-arrows-alt fa-2x btn-full-screen" aria-hidden="true" 
            ng-click="goTo('page/empleoProvGrande')"></i>                       
        <div data-echarts data-options="treemap.options" style="height:360px"></div>
    </div>
	<div class="col-md-6">
        <i class="fa fa-arrows-alt fa-2x btn-full-screen" aria-hidden="true" 
        ng-click="goTo('page/scatterEmpProvGrande')"></i>
        <p id="ejeX">Var.% Particip. Empleo 2007-2014</p>
        <p id="ejeX2">(diferencia de log. nat.)</p>
        <p id="ejeY" style="left: -12.3% !important;">Var.% Empleo 2007 - 2014</p>
        <p id="ejeY2">(diferencia de log. nat.)</p>
        <div data-echarts data-options="scatter1.options" style="height: 360px;"></div>					
	</div>
</div>
<div class="row">
        <div class="col-md-6" style="text-align: center;color:#BBBBBB">Fuente: Elaboración propia en base a datos de OEDE</div>
        <div class="col-md-6" style="text-align: center;color:#BBBBBB">Fuente: Elaboración propia en base a datos de OEDE</div>
    </div>