<div class="row panel-chart">
	<div class="col-md-6">
        <span>Participación provincial en las exportaciones sectoriales</span>
        <i class="fa fa-arrows-alt fa-2x btn-full-screen" aria-hidden="true" 
            ng-click="goTo('page/exportSectGrande')"></i>                       
        <div data-echarts data-options="line3.options" style="height: 360px;"></div> 				    
	</div>
	<div class="col-md-6">
        <div class="chart-tag tag-1">DINÁMICO</div>
        <div class="chart-tag tag-2">ESTRELLA</div>
        <div class="chart-tag tag-3">ESTANCADO</div>
        <div class="chart-tag tag-4">DECLINANTE</div> 
        <span>Matriz de clasificación de sectores según exportaciones</span>
        <i class="fa fa-arrows-alt fa-2x btn-full-screen" 
            ng-click="goTo('page/scatterExpSectGrande')"></i>
        <p id="ejeX">Coef. de especialización Exportación</p>
        <p id="ejeY">Grado de dinámica Exportación</p>
        <div data-echarts data-options="bar1.options" style="height: 360px;"></div>				
	</div>
</div>
<div class="row">
    <div class="col-md-6" style="text-align: center;color:#BBBBBB">Fuente: Elaboración propia en base a datos de INDEC</div>
    <div class="col-md-6" style="text-align: center;color:#BBBBBB">Fuente: Elaboración propia en base a datos de INDEC</div>
</div>
